@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box; /*https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(82, 118, 196);
    margin: 0;
    height: 100vh; /*viewport height*/
    display: flex; /*https://www.freecodecamp.org/news/flexbox-the-ultimate-css-flex-cheatsheet/*/
    flex-direction: column; /* vertical VS row(default): horizontal*/
    align-items: center;
    justify-content: center;
    overflow: hidden; /*hide scrollbars*/
}

.btn {
    background-color: white;
    color: rgb(82, 118, 196);
    font-family: inherit;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
  
.btn:focus {
    outline: none;
}
  
.btn:active {
    transform: scale(0.95);
}
  
.toasts {
    position: fixed;/*put in the specific position*/
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.toast {
    background-color: white;
    border-radius: 6px;
    padding: 1.5rem 2.5rem;
    margin: 1rem;
}
/*3 different kinds of classes*/  
.toast.info {
    color: rgb(127, 76, 179);
}
  
.toast.success {
    color: rgb(24, 153, 24);
}
  
.toast.error {
    color: rgb(206, 39, 39);
}