body::before { /* stick on the top when rolling */
  display: block;
  content: '';
  height: 60px;
}

#map { /* must include map width and height */
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@media (min-width: 768px) { /* 50% length in large screen */
  .news-input {
    width: 50%;
  }
}
