@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*position: https://www.w3schools.com/css/css_positioning.asp*/
* {
    box-sizing: border-box; /*https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh; /*viewport height*/
    display: flex; /*https://www.freecodecamp.org/news/flexbox-the-ultimate-css-flex-cheatsheet/*/
    align-items: center;
    justify-content: center;
}

img {
    width: 550px;
    height: 550px;
    object-fit: cover;
}
  
.carousel {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    height: 580px;
    width: 550px;
    overflow: hidden;
}
  
.image-container {
    display: flex;/*ensure one image at a time*/
    transform: translateX(0);/*js change this to move images over*/
    transition: transform 0.4s ease-in-out;
}
  
.buttons-container {
    display: flex;
    justify-content: space-between;/*each btn at a side*/
}
  
.btn {
    background-color: rgb(44, 64, 121);
    color: white;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    width: 49.5%;/*half*/
}
  
.btn:hover {
    opacity: 0.85;
}
  
.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}