@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box; /*https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #678ad4;
    margin: 0;
    display: flex; /*https://www.freecodecamp.org/news/flexbox-the-ultimate-css-flex-cheatsheet/*/
    flex-wrap: wrap;/*more notes*/
    padding-top: 3.5rem;
}

.add {/*note button at the corner*/
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-color: #8fad63;
    color: white;
    border: none;
    border-radius: 3.5px;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
}

.add:focus {
    outline: none;
}

.add:active {
    transform: scale(0.95);
}
  
.note {
    background-color: white;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
    margin: 35px 25px;
    height: 450px;
    width: 450px;
    overflow-y: scroll;
}
  
.note .tools {/*tool bar*/
    background-color: #8fad63;
    display: flex;
    justify-content: flex-end;/*right*/
    padding: 0.4rem;
}
  
.note .tools button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.6rem;
}
  
.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.3rem;
    border: none;
    height: 450px;
    width: 100%;
    padding: 25px;
}
/*
.note textarea::placeholder {
    color: rgb(209, 209, 209);
}
*/
textarea::placeholder {
    color: rgb(209, 209, 209);
}

.main {
    padding: 25px;
}
  
.hidden {
    display: none;
}