html, body{
	width: 100%;
	height: 100%;/*important: cover whole page*/
	font-family: 'Redressed', cursive;
	/*https://css-tricks.com/perfect-full-page-background-image/*/
	background: url(OPM.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	font-size: 3rem;
	color: white;
}
hr{
	color: white;
	border-color: white;
	border-width: 8px;
	max-width: 50px;
}
.buffer{
	height: 10rem;
}
.btn{
	font-weight: 500;
	border-radius: 2rem;/*200px*/
	/*text-transform: uppercase;*/
}
.btn-secondary{
	color: black;
	background-color: grey;
	border-color: grey;
}
.btn-secondary:hover{
	/*background-color: grey;
	border-color: grey;*/
	border-width: 4px;
}
.btn-lg{
	padding: 1rem 1rem;
}
