@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*position: https://www.w3schools.com/css/css_positioning.asp*/
* {
    box-sizing: border-box; /*https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh; /*viewport height*/
    display: flex; /*https://www.freecodecamp.org/news/flexbox-the-ultimate-css-flex-cheatsheet/*/
    flex-direction: column; /* vertical VS row(default): horizontal*/
    align-items: center;
    justify-content: center;
}

.title {
    margin: 8px 0 0;
    text-align: center;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 950px;
}
  
.container img {
    object-fit: cover;
    margin: 8px;
    height: 300px;/*can adjust*/
    width: 300px;/*fix to 300x300*/
    max-width: 100%;
}